@use "@assets/styles/mixins" as *;
.report-filter-grid {
  display: grid;
  grid-template-columns: 30% 25% 25% auto auto;
  gap: 16px;
  align-items: end;
  width: 100%;

  .ant-select,
  .ant-picker,
  .custom-input,
  .company-dropdown-cn {
    width: 100% !important;
  }

  .button-wrapper,
  .icon-wrapper {
    display: flex;
    align-items: end;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;

    .button-wrapper,
    .icon-wrapper {
      justify-content: flex-start;
    }
  }
}
