NODE_ENV=dev
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_KEY_PREFIX=arg-backend
DB_HOST=172.16.30.12
DB_PORT=5432
DB_NAME=arg-auth
DB_USERNAME=uat_pg_user
DB_PASSWORD=UAT@2025!12
DATABASE_URL=postgresql://uat_pg_user:UAT@2025!12@172.16.30.12:5432/arg_uat_db
API_CRYPTO_SECRET_KEY=V9$k@1mZ&pT8!sR4&yN2^wQ7*eF0+LbC
MS_TENANT_ID=5b6d8034-b358-4dfa-bdf0-2bff2b76ff39
MS_CLIENT_ID=2e1d21e3-53d4-4f94-ad97-10a35acf6192
MS_CLIENT_SECRET=qLM8Q~ie9eSPT335Ta2Xy8051j7yHMWzEYXTCcPZ
MS_REDIRECT_UI=http://localhost:8000/v1/auth/callback
MS_TOKEN_URL=https://login.microsoftonline.com/
JWT_SECRET=Qz!8p#92aN*4r@7LfYwZ0u&dVb!eGkXh
LOGIN_URL=http://localhost:5173/login
DASHBOARD_URL=http://localhost:5173/accounts-payable
SITE_ENV=local
JWT_EXPIRY_TIME=30m