@use "@assets/styles/variables.light" as var;

.voucher-payment-container {
   display: flex;
   height: calc(100vh - 64px);

   .left-menu {
      background-color: var.$primary-background-color;
      width: 250px;
      transition: width 0.3s ease;
      display: flex;
      flex-direction: column;

      .menu-header {
         padding: 16px;
         text-align: center;
         font-weight: bold;
         font-size: 18px;
         position: relative;
         cursor: pointer;

         .menu-title {
            left: 50%;
            transition: opacity 0.3s ease;
            white-space: nowrap;
         }

         .expanded-title {
            font-size: 18px;
         }

         .collapsed-title {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
         }

         .show {
            opacity: 1;
            visibility: visible;
         }

         .hide {
            opacity: 0;
            visibility: hidden;
         }
      }

      ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
         padding-left: 16px;
         overflow: auto;
         scrollbar-width: thin;
         scrollbar-color: var.$scrollbar-background transparent;
         .ant-menu-inline .ant-menu-item {
            margin-inline: 0px;
            margin-block: 0px;
         }
         li.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open.ant-menu-submenu-selected {
            border-left: 2px solid var.$silver-border;
            border-radius: 0px;
         }
      }
      li.ant-menu-item-selected {
         background-color: var.$selected-li-background;
         border-left: 2px solid var.$primary-red;
         border-radius: 0px;
      }

      li.ant-menu-submenu-open {
         .ant-menu-submenu-title {
            background-color: var.$black-background;
            color: var.$text-color-light;

            .ant-menu-title-content {
               span {
                  font-weight: 700;
               }
            }
         }
      }

      .ant-menu-item-active {
         background-color: var.$selected-li-background;
         border-left: 2px solid var.$primary-red;
         border-radius: 0px;
      }
      .menu-group {
         padding: 10px;

         .group-label {
            font-size: 13px;
            color: var.$secondary-gray;
            margin-bottom: 10px;
         }

         ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
               display: flex;
               align-items: center;
               gap: 10px;
               padding: 10px;
               cursor: pointer;
               border-radius: 4px;
               transition: background 0.2s;

               &:hover {
                  background-color: var.$hover-background-color;
               }

               &.active {
                  background-color: var.$gray-border;
                  font-weight: 600;
               }

               svg {
                  font-size: 16px;
               }

               span {
                  flex: 1;
               }
            }
         }
      }

      &.collapsed {
         width: 60px;

         .group-label {
            display: none;
         }

         ul {
            display: none;
         }

         .menu-title {
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            transform-origin: center;
            text-align: center;
            margin: 0 auto;
            font-size: 14px;
            height: 120px;
         }
      }
   }

   .right-content {
      flex: 1;
      background-color: var.$gray-light;
      height: 100%;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: var.$scrollbar-background transparent;
      .ant-steps.ant-steps-horizontal.css-dev-only-do-not-override-mc1tut.ant-steps-default.ant-steps-label-vertical {
         margin: auto;
         padding: 5px 189px;

         .ant-steps-item-content {
            margin: 0px;

            .ant-steps-item-title {
               font-weight: 700;
               font-size: 12px;
               line-height: 18px;
               text-align: center;
            }
         }
      }
      .content-panel {
         padding: 14px 16px;

         .step-content {
            margin-top: 16px;
         }
      }
   }
}

.selected-ap-menu {
   color: var.$primary-red;
}

.ant-steps-item-active {
   .ant-steps-item-icon {
      border: 2px solid var.$stepper-progress !important;
   }
}
.ant-steps-item-icon {
   border: 2px solid var.$stepper-completed !important;
   background-color: white !important;
   color: black !important;
   font-weight: bold;
   height: 25px !important;
   width: 25px !important;
}

.ant-steps
   .ant-steps-item-finish
   > .ant-steps-item-container
   > .ant-steps-item-tail::after {
   background-color: var.$stepper-completed !important;
}

