$color-success: #4caf50;
$color-warning: #ff9800;
$color-danger: #ff4d4f;
$color-info: #2196f3;
$color-finished: #00a60b;
$alert-info: $color-info;
$alert-success: $color-success;
$alert-error: $color-danger;
$alert-warning: $color-warning;
$guidline-text-color: #5d5d5d;
$upload-text-color: #1777ff;
$upload-text-color-hover: #f2f2f2;

$black-background: #000000;
$gray-dark: #2d2d2d;
$gray-light: #f0f0f0;
$gray-soft: #f6f6f6;
$label-color: #494949;
$gray-border: #e0c4c2;
$gray-border-light: #f0f0f0;
$silver-border: #b0b0b0;
$primary-background-color: #ffffff;
$secondary-background-color: $gray-light;
$body-background: $gray-light;
$hover-background-color: $gray-soft;
$hover-border: $alert-error;
$text-color-primary: #000000d9;
$text-color-secondary: #515151;
$text-color-light: #ffffff;
$text-color-tab: #595959;
$dropdown-background-color: #393939;
$primary-red: #e23429;
$primary-black-color: $gray-dark;
$card-border: $gray-border-light;
$hover-border: $gray-border;
$border-color: #bfbfbf;
$footer-background: #e2e2e2;

$text-color-card-label: $text-color-tab;
$text-color-card-value: $text-color-primary;
$selected-li-background: #ffeae8;

$side-menu-hover: #2f2f2f;
$action-blue: #1890ff;
$action-blue-hover: #40a9ff;
$secondary-gray: #666;
$action-delete: $color-danger;
$action-delete-hover: #ff7875;
$table-header-bg: #f5f5f5;
$stepper-background-color: #fafafa;
$collapsedropdown-open-color: #656666;
$stepper-completed: #868686;
$stepper-progress: $color-success;
$scrollbar-background: #c1c1c1;
$btn-hover: #ab1c16;
$pagination-border: #d9d9d9;
$box-hover: #fff9f9;
$gradient-error: #ffe8e8;
$gradient-success: #d3f4d3;
$gradient-warning: #fff9d8;
$gradient-batch: #e2f3e2;
$filter-hover: #eaeced;
$success-pill: #a4c3aa;
$success-pill-color: #00470c;
$success-pill-background: #e8f5e9;
$to-be-cleared-color: #002287;
$to-be-cleared-background: #f4f7ff;
$stepper-green-color: #008805;
$stepper-pending-color: #d6d6d6;
$stepper-current-step-color: #006804;
$login-button-color: #A8071A;
$login-button-hover-color: #8c0617;
